Repository cherkasovaa/super-date-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

chore: install `vite-plugin-svgr` for working with svg
  package-lock.json
  package.json
  src/vite-env.d.ts
  vite.config.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

chore: path aliases
  tsconfig.app.json
  vite.config.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

feat: add icons and create Icon component
  src/shared/assets/icons/calendar-days.svg
  src/shared/assets/icons/chevron-right.svg
  src/shared/ui/icon/Icon.tsx
  src/shared/ui/icon/types.ts
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

chore: install stylelint for formatting styles
  .lintstagedrc.json
  package-lock.json
  package.json
  stylelint.config.cjs
Due: none

feat: implement Button component
  src/main.tsx
  src/shared/styles/theme.module.css
  src/shared/ui/button/Button.module.css
  src/shared/ui/button/Button.tsx
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

style: update variables
  src/index.css
  src/shared/styles/theme.module.css
Due: prettier --write

refactor: format config files
  .lintstagedrc.json
  eslint.config.js
  index.html
  stylelint.config.cjs
  tsconfig.app.json
  tsconfig.json
Due: none

feat: implement Panel component
  src/shared/ui/index.ts
  src/shared/ui/panel/Panel.module.css
  src/shared/ui/panel/Panel.tsx
  src/shared/ui/panel/types.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: implement Popover component
  src/shared/ui/popover/Popover.module.css
  src/shared/ui/popover/Popover.tsx
  src/shared/ui/popover/types.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: add shared types and utils for dates
  src/shared/types/date.ts
  src/shared/utils/formatLabel.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

style: update popover panel and trigger
  src/shared/ui/panel/Panel.module.css
  src/shared/ui/popover/Popover.module.css
  src/shared/ui/popover/Popover.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: implement DatePickerRange
  src/widgets/date-picker/index.ts
  src/widgets/date-picker/model/types.ts
  src/widgets/date-picker/ui/DatePickerRange.module.css
  src/widgets/date-picker/ui/DatePickerRange.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: implement SuperDatePicker
  src/widgets/super-date-picker/index.ts
  src/widgets/super-date-picker/model/types.ts
  src/widgets/super-date-picker/ui/SuperDatePicker.module.css
  src/widgets/super-date-picker/ui/SuperDatePicker.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: integrate SuperDatePicker for demonstration
  src/App.module.css
  src/App.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: add chevron-left
  src/shared/assets/icons/chevron-left.svg
  src/shared/ui/icon/Icon.tsx
  src/shared/ui/icon/types.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

style: update theme colors
  src/shared/styles/theme.module.css
Due: prettier --write

feat: implement `cn` function for join classes
  src/shared/utils/cn.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

feat: implement validation type and button state
  src/shared/types/validation.ts
  src/shared/ui/button/Button.module.css
  src/shared/ui/button/Button.tsx
  src/shared/ui/button/types.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: implement capitalize util function
  src/shared/utils/capitalize.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

feat: implement Select component
  src/shared/ui/select/Select.module.css
  src/shared/ui/select/Select.tsx
  src/shared/ui/select/types.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: implement CalendarHeader component
  src/widgets/calendar/model/types.ts
  src/widgets/calendar/ui/CalendarHeader/CalendarHeader.module.css
  src/widgets/calendar/ui/CalendarHeader/CalendarHeader.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: create helpers for work with calendar
  src/widgets/calendar/lib/generateCalendarDays.ts
  src/widgets/calendar/lib/getDateList.ts
  src/widgets/calendar/lib/getMonthDetails.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

feat: implement CalendarGrid component
  src/widgets/calendar/ui/CalendarGrid/CalendarGrid.module.css
  src/widgets/calendar/ui/CalendarGrid/CalendarGrid.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: create simple calendar
  src/widgets/calendar/index.ts
  src/widgets/calendar/model/types.ts
  src/widgets/calendar/ui/Calendar.module.css
  src/widgets/calendar/ui/Calendar.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: integrate Calendar for demonstration
  src/widgets/date-picker/model/types.ts
  src/widgets/date-picker/ui/DatePickerRange.module.css
  src/widgets/date-picker/ui/DatePickerRange.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: update DateRange type and integrate validation for success and error states
  src/App.tsx
  src/shared/types/date.ts
  src/widgets/super-date-picker/ui/SuperDatePicker.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

feat: close popover on click outside
  src/shared/ui/popover/Popover.tsx
  src/shared/ui/popover/types.ts
  src/widgets/date-picker/ui/DatePickerRange.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

feat: add chevron-down
  src/shared/assets/icons/chevron-down.svg
  src/shared/ui/icon/Icon.tsx
  src/shared/ui/icon/types.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

style: add font-size variable for small text
  src/shared/styles/theme.module.css
Due: prettier --write

feat: add className as props to Popover
  src/shared/ui/popover/Popover.module.css
  src/shared/ui/popover/Popover.tsx
  src/shared/ui/popover/types.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: add date range presets
  package-lock.json
  package.json
  src/widgets/date-picker/lib/getRangeForPreset.ts
  src/widgets/date-picker/model/presets.ts
  src/widgets/date-picker/model/types.ts
  src/widgets/date-picker/ui/DatePickerPresets/DatePickerPresets.module.css
  src/widgets/date-picker/ui/DatePickerPresets/DatePickerPresets.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: integrate DatePickerPresets
  src/widgets/date-picker/ui/DatePickerRange.module.css
  src/widgets/date-picker/ui/DatePickerRange.tsx
  src/widgets/super-date-picker/ui/SuperDatePicker.module.css
  src/widgets/super-date-picker/ui/SuperDatePicker.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: implement TimePicker component
  src/shared/ui/index.ts
  src/shared/ui/time-picker/TimePicker.module.css
  src/shared/ui/time-picker/TimePicker.tsx
  src/shared/ui/time-picker/types.ts
  src/widgets/date-picker/lib/generateTimeList.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: integrate TimePicker to the Calendar
  src/shared/utils/formatLabel.ts
  src/shared/utils/isSameDay.ts
  src/widgets/calendar/ui/Calendar.module.css
  src/widgets/calendar/ui/Calendar.tsx
  src/widgets/calendar/ui/CalendarGrid/CalendarGrid.module.css
  src/widgets/calendar/ui/CalendarGrid/CalendarGrid.tsx
  src/widgets/calendar/ui/CalendarHeader/CalendarHeader.module.css
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: implement staged changes for date range
  src/App.module.css
  src/App.tsx
  src/shared/utils/formatDateToISO.ts
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

feat: update submit button
  src/shared/utils/compareDates.ts
  src/widgets/super-date-picker/model/types.ts
  src/widgets/super-date-picker/ui/SuperDatePicker.tsx
Due: npx eslint --fix --config eslint.config.js, npx prettier --write

docs: add readme file
  README.md
Due: none

fix: apply css variables in production
  src/main.tsx
  src/shared/styles/theme.css
Due: npx eslint --fix --config eslint.config.js, npx prettier --write, prettier --write

Path conditions:
  npx eslint --fix --config eslint.config.js: any of: *.{ts,tsx}
  npx prettier --write: any of: *.{ts,tsx}
  prettier --write: any of: *.css
